// COLORS
$primary-color: #0f2027;
$secondary-color: #7bb8ca;

$white-color: #fff;

$dark-grey: #2c5364;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
